.header {
    min-height: 840px;
    background: 
        linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), 
        url("../images/header/header-bg.jpg"), lightgray 50% / cover no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 74px;

    @include mediaTablet {
        min-height: unset;

        row-gap: 50px;
    }
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-row--mobile {
    position: fixed;
    background-color: $dark;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    justify-content: start;
    padding: 40px 0;

    .header__nav {
        display: block;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .header__nav-btn{
        position: fixed;
        top: 50px;
        right: 15px;
    }
}

.nav-icon-btn--active div{
    &:first-child {
        transform: rotate(-45deg) translate(0, 20px);
    }

    &:nth-child(2) {
        display: none;
    }

    &:last-child {
        transform: rotate(45deg) translate(0, -20px);
    }
}

.header__nav {
    @include mediaTablet {
        display: none;
    }
}

.header__nav-btn{
    display: none;

    @include mediaTablet {
        display: block;
    }
}

.header__title { 
    font-family: $font-accent;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: $accent;
    padding-bottom: 121px;
    position: relative;

    @include mediaTablet {
        font-size: 32px;
        padding-bottom: 100px;
    }
}

.header__title-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    @include mediaTablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}