.section-map {
    position: relative;
    padding: 180px 0;

    &::before {
		content: "V";
        @include decorNumber;
		top: 180px;
		right: calc(50% + 555px);
		transform: translateX(50%);
        z-index: -1;
        line-height: 1;
	}
}

.section-map__title{
    margin-bottom: 88px;
}

.map {
    height: 358px;
    background: #626262;
}