// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

$dark: #242B33;
$accent: #D4C17F;
$white: #FFFFFF;
$footer-bg: #2D343C;

$tablet: 999px;